

.App-header {
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(1px + 2vmin);
  color: #eeeeee;
}


