body {
  margin: 0;
  padding: 0;
  background: #04334b;
  color: #b8b8c9;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
